* {
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  background-color: #f2f2f2;
  margin: 0;
}

/* POSITIONING & GRID STYLES */
header,
section,
footer,
main,
nav {
  display: block;
}
.main-column {
  min-width: 768px;
  max-width: 1200px;
  margin: auto;
  position: relative;
  box-shadow: 0 0 10px 0 #c8c8c8;
  background-color: white;
  box-sizing: border-box;
  padding: 50px;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
figure.float-right {
  margin: 0 0 20px 20px;
}
.clearfix:after {
   content: " ";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}
.text-right {
  text-align: right;
}
.flex {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
.flex-justify-around {
  justify-content: space-around;
}
.flex-justify-between {
  justify-content: space-between;
}
.flex-justify-center {
  justify-content: center;
}
.flex-v-align-center {
  align-items: center;
}
.flex-element {
  flex: 0 1 auto;
}
.login-social-row {
  height: 65px;
}
/* ^^^^ POSITIONING & GRID STYLES ^^^^ */



/* HEADER STYLING */
.header-img {
  padding: 0 35px;
  box-sizing: border-box;
  width: 100%;
  height: 350px;
  background-image: url(../img/hike_order_03.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 50%;
  overflow: hidden;
}
.nav {
  padding: 0;
}
.nav li {
  text-decoration: none;
  display: inline-block;
  margin-left: 0;
  margin-right: 25px;
}
.nav a {
  text-decoration: none;
  text-shadow: 2px 2px 5px #000;
  font-weight: bold;
  font-size: 24px;
  color: rgb(201, 200, 11);
}
.nav a:hover {
  text-decoration: underline;
}
h1 {
  font-size: 36px;
  font-weight: bold;
  text-decoration: underline;
  color: rgb(222, 221, 16);
  text-shadow: 2px 2px 5px #000;
}
/* /HEADER STYLING */














table {
  border-collapse: collapse;
  margin-top: 0;
}
tr:nth-of-type(odd) {
  background-color: rgb(212, 229, 255);
}
td, th {
  padding: 5px 15px;
  width: 100px;
  text-align: left;
}


.btn {
  display: inline-block;
  margin: 10px 10px 0;
  justify-content: space-between;
  width: 100px;
  height: 30px;
  background-color: rgb(187, 148, 7);
  border: none;
  color: white;
  font-weight: bold;
}
.btn:hover {
  background-color: rgb(143, 113, 5);

}



figcaption {
  font-style: italic;
  font-size: 12px;
}
/* LOGIN WINDOW STYLING */
#gray-background {
  background-color: rgba(0, 0, 0, 0.44);
  width: 100%;
  height: 100%;
  z-index: 1;
  top: 0;
  left:0;
  position: fixed;
}
#login-window {
  z-index: 2;
  position: fixed;
  top: 10%;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: white;
  width: 560px;
  min-height: 200px;
  box-sizing: border-box;
  padding: 25px;
  box-shadow: 0 0 25px black;
}
#close-login-window {
  position: absolute;
  right: -5%;
  top: 0;
}
#close-login-window img {
  width: 20px;
  height: 20px;
}
#close-login-window:hover {
  cursor: pointer;
}


#login-window label,
.login-textbox {
  display: block;
  font-weight: bold;
}
#txtLoginError,
#txtPassConfirmError {
  padding-left: 20px;
  font-size: 10px;
  color: red;
}
.login-textbox {
  width: 100%;
  line-height: 24px;
  margin-top: 5px;
  margin-bottom: 15px;
  padding: 0 10px;
  border: 1.5px solid rgb(201, 200, 11);
  border-radius: 5px;
}

/*#login-window .center {
  margin: 0 auto;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
}*/
.login-social-icon {
  margin: 0 10px;
}
.login-social-icon img {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  transition: width 0.25s, height 0.25s;
}
.login-social-icon img:hover {
  background-color: rgb(201, 200, 11);
  width: 60px;
  height: 60px;
}
.login-social-icon.disabled img {
  background-color: rgb(180, 180, 180);
}
.login-social-icon.disabled img:hover {
  width: 50px;
  height: 50px;
  cursor: default;
}

.btn-login {
  text-decoration: none;
  display: inline-block;
  width: 49%;
  line-height: 28px;
  font-size: 18px;
  font-weight: bold;
  color: rgb(201, 200, 11);
  background-color: black;
  border: 2px solid black;
  border-radius: 5px;
  text-align: center;
}
.btn-login:hover {
  color: black;
  background-color: white;
}
.btn-login:disabled {
  color: rgb(180, 180, 180);
  background-color: rgb(70, 70, 70);
  border-color: rgb(70, 70, 70);
}
.btn-login:disabled:hover {
  background-color: black;
  background-color: rgb(70, 70, 70);
  border-color: rgb(70, 70, 70);
}
.hide-element {
  display: none;
}
